@model MessageClients.Models.MessageFilterViewModel

@{
    ViewBag.Title = "Receiving messages";
}

<h2>Receiving messages</h2>

@using (Html.BeginForm("Index", "Messages", FormMethod.Post))
{
    <p>Get for last minutes:</p>
    <div class="form-group">
        <button name="TimeRange" value="1" class="btn btn-primary">1</button>
        <button name="TimeRange" value="5" class="btn btn-primary">5</button>
        <button name="TimeRange" value="10" class="btn btn-primary">10</button>
        <button name="TimeRange" value="15" class="btn btn-primary">15</button>
        <button name="TimeRange" value="all" class="btn btn-secondary">all</button>
    </div>

    <div class="form-group">
        <button class="btn btn-info" type="button" onclick="document.getElementById('advancedOptions').style.display='block'">Advanced Options</button>
    </div>

    <div id="advancedOptions" style="display: none;">
        <div class="form-group">
            <label for="StartDate">Date (with time) from:</label>
            @Html.TextBoxFor(m => m.DateTimeFrom, new { @type = "datetime-local", @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="EndDate">Date (with time) to:</label>
            @Html.TextBoxFor(m => m.DateTimeTo, new { @type = "datetime-local", @class = "form-control" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Get messages for period</button>
        </div>
    </div>
}

@if (Model.Messages != null && Model.Messages.Any())
{
    <h3>Messages:</h3>
    <ul>
        @foreach (var message in Model.Messages)
        {
            <li data-utc="@message.Timestamp.ToString("o")">
                @message.Content (SerialNumber: @message.SerialNumber)
            </li>
        }
    </ul>
}
else if (Model.Messages != null)
{
    <p>There are no messages.</p>
}